<div class="menuWrapper">
    <div class="menu">
        <div class="header">
    <h2 id="header">
        Club photo de Buzançais
    </h2>
</div>
        <ul>
            <li><a href="{{ path("app_bienvenue") }}">Accueil</a></li>
            <li><a href="{{ path("app_philosophie") }}">Philosophie</a></li>
            <li><a href="{{path("app_vieClub")}}">La vie du club</a></li>
            <li><a href="{{ path("app_galerie") }}">Galerie</a></li>
            <li><a href="{{ path("app_renseignements") }}">Renseignements</a></li>
            <li><a href="{{ path("app_agenda") }}">Agenda</a></li>
            <li><a href="{{ path("app_liens") }}">Liens</a></li>
            <li><a href="{{ path("app_contact") }}">Contact</a></li>
        </ul>
        <br>
    </div>
</div>